<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Flask test page</h1>
    <p>This is simple test page with information about hostname and ip adress of the host.</p>
  </div>
</div>

<div class="container">
  <p>hostname : <code> {{ myhostname }} </code></p>
  <p>ip address : <code> {{ ip }} </code></p>      
</div>

</body>
</html>
